<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>

	<h3>Login here!</h3>

		{% if error %}
			{{ error }}
		{% endif %}

	<form action="{% url 'accounts:login' %}" method="POST">
		{% csrf_token %}

		{% if request.GET.next %}
			<input type="hidden" name="next" value={{request.GET.next}}>
		{% endif %}


		<p>Username
			<input type="text" name="username">
		</p>
		<p>
			Password
			<input type="password" name="password">
		</p>
		
		<input type="submit" value="Login!">
	</form>

</body>
</html>